
.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   margin-top: 50px;
}
#inputfield{
    height: 5vh;
    width: 20vh;
    border-radius: 10px;
}
#submit{
    margin-top: 20px;
    width: 70px;
    height: 40px;
    background-color: seagreen;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}